@import "properties";
header{
    position: fixed;
    width: 100%;
    padding: 0 2rem;
    z-index: 1;
    
    .nav{
        color: $title-color;
        width: 100%;
        height: 60px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        li{ 
            list-style: none;
        }
        a{  
            color: $title-color;
            text-decoration: none;
            font-size: 1rem;     
        }
        a:hover{
            color: black;
        }
        .nav-links{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            gap: 2rem;
            transition: 1s ease-in;
        }
        .nav-button{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            background-color: $trblack;
            padding: 0.5rem 1rem;
            border: none;
            outline: none;
            border-radius: 20px;
            font-size: 0.8rem;
            font-weight: bold;
            transition: 0.2s ease;
        }
        .nav-button:hover{
            transform: scale(1.05);
            background-color: $title-color;
            color: $trblack;
        }
        .nav-button:active{
            transform: scale(0.95);
            background-color: $title-color;
            color: $trblack;
        }
        .burger{
            color: $title-color;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}

.visible{
    left: 100px;
}

@media(min-width:1024px){
    header{
        .nav{
            .burger{
                display: none; 
            }
        }
    }
}

@media (max-width:1023px) {
    header{
        background-color: rgba($trblack, 0.8);
        .nav{
            .nav-links{
                z-index: 100;
                position: absolute;
                flex-direction: column;
                display: flex;
                background-color: rgba($trblack, 0.7);
                top: -100%;
                left: 0;
                width: 100%;
                border-radius: 0 0 10% 10%;
                padding: 10% 30%;
                text-align: center;
                transform: scaleY(0.1);
                display: none;
            }
            .nav-button{
                transform: scale(0.80);
            }
        }
    }
}